* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dive-request-form {
    position: relative;
    width: 380px;
    margin: 15px;

    input, textarea {
        min-width: 350px;
        
    }
    button {
        position: absolute;
        right: 0;
        bottom: -40;
    }
    .invalid {
        outline-color: red;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .options {
        font-style: italic;
        font-size: 0.8em;
        padding: 5px;
        max-height: 200px;
        overflow-y: auto;
    }
    .tags {
        font-style: italic;
        font-size: 0.8em;
        a {
            font-style: normal;
            padding: 10px;
            display: inline-block;
        }
    }
    .date-picker {
        
        .wrapper-input-icon {
            display: flex;
            align-items: center;

            svg {
            margin-left: 5px;
            }
        }
            
        .calendar {
            width: 305px;
            max-height: 360px;
            position: fixed;
            top: 245;
            left: 100;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            padding: 5px;
            background-color: #fff;
            border: 1px solid lightgray;

            .month-viewer {
                width: 290px;
                display: flex;
                background-color: lightgray;
                padding: 10px;
            
                .button() {
                    display: block;                
                    height: 37px;
                    width: 55px;
                    margin: 0px 5px;
                    border: 1px solid #a9a9a9;;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #fff;
                }

                .previous-month {
                    .button();
                    background-image: url(/arrow_left.png);
                }

                .next-month {
                    .button();
                    background-image: url(/arrow_right.png);
                }
                select {
                    font-size: 18px;
                    padding: 5px;
                }
            }

            td {
                border: 1px solid lightgray;
                text-align: center;
                overflow: hidden;
            }
            a {
                display: block;
                padding: 10px;


                &:hover, &:focus {
                    text-decoration: underline;
                }
                &:active {
                    background-color: lightgray;
                }
            }
        }
    }
}