* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.calendar {
  max-width: fit-content;
}
.calendar .nav {
  display: flex;
  justify-content: space-between;
}
.calendar .month-viewer {
  width: 176px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
  padding-top: 6px;
  margin: 10px 0px;
}
.calendar .previous-month {
  display: block;
  width: 50px;
  height: 40px;
  margin: 10px 5px;
  border: 1px solid grey;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/arrow_left.png);
}
.calendar .next-month {
  display: block;
  width: 50px;
  height: 40px;
  margin: 10px 5px;
  border: 1px solid grey;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/arrow_right.png);
}
.calendar td {
  border: 1px solid lightgray;
  text-align: center;
  overflow: hidden;
}
.calendar a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}
.calendar a:hover {
  text-decoration: underline;
}
.calendar a:active {
  background-color: lightgray;
}
