* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dive-request-form {
  position: relative;
  width: 380px;
  margin: 15px;
}
.dive-request-form input,
.dive-request-form textarea {
  min-width: 350px;
}
.dive-request-form button {
  position: absolute;
  right: 0;
  bottom: -40;
}
.dive-request-form .invalid {
  outline-color: red;
}
.dive-request-form a {
  color: black;
  text-decoration: none;
}
.dive-request-form .date-picker svg {
  margin-left: 5px;
}
.dive-request-form .date-picker div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dive-request-form .calendar {
  max-width: fit-content;
  position: fixed;
  bottom: 100;
  left: 100;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 0px 5px 5px 0px;
  background-color: #fff;
}
.dive-request-form .calendar .nav {
  display: flex;
}
.dive-request-form .calendar .month-viewer {
  width: 176px;
  text-transform: uppercase;
  height: 40px;
  font-weight: bold;
  background-color: lightgray;
  padding-top: 6px;
}
.dive-request-form .calendar .previous-month {
  display: block;
  width: 50px;
  height: 40px;
  margin: 0px 5px;
  border: 1px solid grey;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/arrow_left.png);
}
.dive-request-form .calendar .next-month {
  display: block;
  width: 50px;
  height: 40px;
  margin: 0px 5px;
  border: 1px solid grey;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/arrow_right.png);
}
.dive-request-form .calendar td {
  border: 1px solid lightgray;
  text-align: center;
  overflow: hidden;
}
.dive-request-form .calendar a {
  display: block;
  padding: 10px;
}
.dive-request-form .calendar a:hover,
.dive-request-form .calendar a:focus {
  text-decoration: underline;
}
.dive-request-form .calendar a:active {
  background-color: lightgray;
}
