* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dive-request-form {
  position: relative;
  width: 380px;
  margin: 15px;
}
.dive-request-form input,
.dive-request-form textarea {
  min-width: 350px;
}
.dive-request-form button {
  position: absolute;
  right: 0;
  bottom: -40;
}
.dive-request-form .invalid {
  outline-color: red;
}
.dive-request-form a {
  color: black;
  text-decoration: none;
}
.dive-request-form .options {
  font-style: italic;
  font-size: 0.8em;
  padding: 5px;
  max-height: 200px;
  overflow-y: auto;
}
.dive-request-form .tags {
  font-style: italic;
  font-size: 0.8em;
}
.dive-request-form .tags a {
  font-style: normal;
  padding: 10px;
  display: inline-block;
}
.dive-request-form .date-picker .wrapper-input-icon {
  display: flex;
  align-items: center;
}
.dive-request-form .date-picker .wrapper-input-icon svg {
  margin-left: 5px;
}
.dive-request-form .date-picker .calendar {
  width: 295px;
  height: 360px;
  position: fixed;
  top: 245;
  left: 100;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 0px 5px 5px 0px;
  background-color: #fff;
}
.dive-request-form .date-picker .calendar .month-viewer {
  width: 290px;
  display: flex;
  background-color: lightgray;
  padding: 10px;
}
.dive-request-form .date-picker .calendar .month-viewer .previous-month {
  display: block;
  height: 37px;
  width: 40px;
  margin: 0px 5px;
  border: 1px solid #a9a9a9;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  background-image: url(/arrow_left.png);
}
.dive-request-form .date-picker .calendar .month-viewer .next-month {
  display: block;
  height: 37px;
  width: 40px;
  margin: 0px 5px;
  border: 1px solid #a9a9a9;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  background-image: url(/arrow_right.png);
}
.dive-request-form .date-picker .calendar .month-viewer select {
  font-size: 18px;
  padding: 5px;
}
.dive-request-form .date-picker .calendar td {
  border: 1px solid lightgray;
  text-align: center;
  overflow: hidden;
}
.dive-request-form .date-picker .calendar a {
  display: block;
  padding: 10px;
}
.dive-request-form .date-picker .calendar a:hover,
.dive-request-form .date-picker .calendar a:focus {
  text-decoration: underline;
}
.dive-request-form .date-picker .calendar a:active {
  background-color: lightgray;
}
